<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mdualeh.galleryScreen">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/module_gallery_screen">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.mdualeh.galleryScreen.ui.views.GalleryScreenActivity" />
        <activity android:name="com.mdualeh.galleryScreen.ui.views.GalleryItemDetailsActivity" />
    </application>
</manifest>
